<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus hic sequi soluta tempore mollitia? Voluptatibus perferendis unde quidem distinctio maiores deleniti eaque odit! Rerum praesentium officia beatae aspernatur minus quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus hic sequi soluta tempore mollitia? Voluptatibus perferendis unde quidem distinctio maiores deleniti eaque odit! Rerum praesentium officia beatae aspernatur minus quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus hic sequi soluta tempore mollitia? Voluptatibus perferendis unde quidem distinctio maiores deleniti eaque odit! Rerum praesentium officia beatae aspernatur minus quod.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>